#root {
  margin: 0;
  padding: 0;
}
html, body{
  scroll-behavior: smooth;
  overflow: auto;
}

.header-nav{
  display: block;
}

.hero {    
    margin-left: auto;
    margin-right: auto;
  margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  gap: 10rem;
}
.about{
  max-width: 1280px;  
  margin: 0 auto;

  text-align: center;
}
.about-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
  text-align: center;
}

.skill-section {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.skill-icon {
  font-size: 2rem;
  color: #00ffcc;
}
.project {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.project h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  font-family: fantasy;
}
.project p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.contact-section {
  padding: 4rem 2rem;
  text-align: center;
  
  color: white;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #1f1f1f;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.social-icon:hover {
  background: #6c63ff;
}

footer{
  text-align: center;
}


/*-----------------------------------mobile--------------------------------*/

@media (max-width: 599px) {
 .header {
    display: none;
  }
  .hero {      
  margin-top: 1rem;
  gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}
/*
.project{
  max-width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
}